/*--------------------*/
* {padding: 0;margin: 0;border: 0;}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus, :active {outline: none;}
a:focus, a:active {outline: none;}
nav, footer, header, aside {display: block;}
html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
input, button, textarea {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}
h1, h2, h3, h4, h5, h6 {font-size: inherit;font-weight: 400;}
/*--------------------*/

/* ========== FONT ========== */
@font-face {
    font-family: 'Reey-Regular';
    src:url('../fonts/Reey-Regular.ttf.woff') format('woff'),
        url('../fonts/Reey-Regular.ttf.svg#Reey-Regular') format('svg'),
        url('../fonts/Reey-Regular.ttf.eot'),
        url('../fonts/Reey-Regular.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
body {
  position: relative;
  font-family: 'Poppins', sans-serif;
}
/* ========== HEADER ========== */
.header {
  position: fixed;
  display: flex;
  justify-content: end;
  height: 100px;
  width: 100%;
}
.nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  padding: 3em 2em;
}
.nav__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header__ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;  
}
.header__li {
  padding: 0 2em;
}
.header__link {
  color: white;
  font-size: 1.75em;
  font-weight: 500;
}
.header__logo {
  display: none;
}
.logo {
  height: 70px;
}
.nav__close {
  font-size: 2.5em;
  color: white;
}
.nav__toggle {
  position: absolute;
  top: 30%;
  right: 15%;
  font-size: 2.5em;
  color: white;
}
@media screen and (max-width: 945px){
  .nav__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    background-color: #627E66;
    width: 80%;
    height: 100%;
    top: 0;
    right: -100%;
    box-shadow: -2px 0 4px hsla(152, 24%, 15%, .1);
    padding: 3em 0 0 2em;
    border-radius: 1em 0 0 1em;
    transition: .3s;
    z-index: 10000;
    padding-right: 2em;
  }
  .header__ul {
    flex-direction: column;
  }
  .header__li {
    height: 60px;
  }
  .header__close {
    font-size: 2em;
    color: white;
  }
}

/* -- Menu Show -- */
.show-menu {
  right: 0;
}
/* ========== HOME ========== */
main {
  width: 100%;
  height: 100%;
}
.home {
  background: rgba(0, 0, 0, 0.5) url(../img/forest_bg.png) 10% 0/cover no-repeat;
  background-blend-mode: darken;
  width: inherit;
  height: inherit;
}
.home__container {
  padding-top: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
}
.home__column {
  display: grid;
  text-align: center;
  padding: 0 3em;
}
.home__top-title {
  color: #9BAD76;
  font-size: 2.5em;
  font-weight: 400;
  margin-bottom: .25em;
}
.home__middle-title {
  color: #fff;
  font-size: 4em;
  font-weight: 800;
  line-height: 1.1;
  text-transform: capitalize;
}
.home__bottom-title {
  font-family: 'Reey-Regular';
  color: #9BAD76;
  font-size: 2.5em;
  font-weight: 400;
}
.home__description {
  font-weight: 300;
  color: #fff;
  font-size: 1.25em;
  padding: 1em 0;
  line-height: 1.25;
  justify-self: center;
}
.home__button {
  margin-top: 1em;
}
.home__btn {
  font-size: 1.6em;
  font-weight: 600;
  color: white;
  background-color: #627E66;
  padding: .25em 1.5em;
  border-radius: 30px;
  transition: .3s;
}

/*=============== BREAKPOINTS ===============*/
/*===== Mobile S =====*/
@media screen and (min-width: 310px){

}

/*===== Mobile M =====*/
@media screen and (min-width: 365px){

}

/*===== Mobile L =====*/
@media screen and (min-width: 415px){
  .home__description {
    width: 250px;
  }
}

/*===== Tablet =====*/
@media screen and (min-width: 758px){
  .show-menu {
    width: 57.5%;
  }
  .home__column {
    grid-row-gap: 1em;
  }
  .home__top-title {
    font-size: 3em;
  }
  .home__middle-title {
    font-size: 5em;
  }
  .home__bottom-title {
    font-size: 3em;
  }
  .home__description {
    font-size: 1.75em;
    width: 450px;
  }
}

@media screen and (min-width: 945px){
  .nav {
    width: 100%;
    padding: 4.5em 0em;
  }
  .nav__menu {
    flex-direction: row-reverse;
  }
  .nav__toggle,
  .nav__close {
    display: none;
  }
  .home__description {
    width: 500px;
  }
  .home__btn {
    font-size: 1.75em;
    padding: .3em 1.75em;
  }
}

/*===== Laptop =====*/
@media screen and (min-width: 1014px){
  .home__btn:hover {
    letter-spacing: 1.5px;
    transition: .3s;
  }
}

/*===== Laptop L =====*/
@media screen and (min-width: 1430px){
  .nav {
    width: 57.5%;
    padding: 5em 0em;
    flex-direction: row-reverse;
  }
  .header__logo {
    display: block;
  }
  .header__ul {
    padding-right: 2em;
  }
  .header__link {
    color: #545759;
    transition: .3s;
  }
  .header__link:hover {
    color: #313436;
    transition: .3s;
  }
  .home {
    background: url('../img/forest_bg.png') 0 0/75% auto no-repeat;
  }
  .home__container {
    display: flex;
    justify-content: end;
  }
  .home__column {
    grid-row-gap: 0;
    width: 50%;
    padding: 0;
  }
  .home__top-title {
    color: #5F7466;
    font-size: 2.5em;
    font-weight: 600;
  }
  .home__middle-title {
    color: #2F3536;
  }
  .home__bottom-title {
  }
  .home__description {
    padding: 1em;
    color: #2F3536;
  }
}











